.cs-container {
  z-index: 3;
}

.cs-subtitle {
  background-color: #000;
}

a,
a:visited {
  color: #43db86;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fab.social {
  color: #43db86;
  display: inline;
  margin-right: 10px;
}
